header {
    display: flex; 
    padding: 2rem; 
    justify-content: space-between; 
    background: #252525;
}

.logo {
    height: 3.75rem;
    width: 21.25rem;
}

nav {
    display: flex; 
    gap: 5rem; 
    justify-content: center; 
    align-items: center; 
    margin-right: 3.75rem;
}

.nav-elements {
    cursor: pointer;
    text-align: center; 
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem; 
}

.nav-elements:hover {
    color: #2baae2;
}