.greeting-text {
    line-height: 1;  
}

.center-text {
    text-align: center;
}

.background {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_allignment {
    justify-content: center; 
    align-items: center; 
}