.dynamic-background-color_component {
    max-width: 25rem;
    margin-inline: 36%;
    text-align: center;
}

.menu_button {
    margin-top: 0.5rem; 
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-right: 22.5rem;
}

.menu {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-right: 0.5rem; 
    max-width: 5rem;
    background-color: #364153;
}

.close-menu_button {
    margin-right: 2.5rem; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    color: #ffffff; 
}

.color_buttons_allignment {
    display: flex; 
    margin-left: 1.75rem; 
    flex-direction: column; 
    font-size: 1.25rem;
    line-height: 1.75rem;
}